@import '../../variables';

.cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 90%;
    margin: 5rem auto;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    & h2 {
        margin: 1rem 0;
        @include font($b, 1rem, 700);
    }

    & .btn {
        width: 100%;
        background-color: $o;
        @include font($w, 1rem, 400);
        margin: 1rem 0;
        padding: 0.5rem 1.5rem;
        border: none;
        border-radius: 10px;
    }
}
