@import '../../variables';

.section {
    width: 100%;
    background-color: $w;
    &__item-wrapper {
        width: 100%;
        min-height: 20rem;
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__prev-btn,
    &__next-btn {
        position: absolute;
        top: 50%;
        width: 2rem;
        border-radius: 50%;
        height: 2rem;
        border: none;
        .icon {
            font-size: 1rem;
        }
    }
    &__prev-btn {
        left: 0.5rem;
        transform: translateY(-50%);
    }
    &__next-btn {
        right: 0.5rem;
        transform: translateY(-50%);
    }
    &__title {
        @include font($o, 1rem, 700);
        text-transform: uppercase;
        margin: 1rem;
    }
}

.item {
    margin: 0 1rem 2rem;

    &__name {
        @include font($b, 2rem, 700);
    }
    &__desc {
        @include font($b, 1rem, 400);
        line-height: 1.5;
        margin: 1.5rem 0;
    }
    &__price-details {
        display: grid;
        grid-template-columns: 5rem 2rem 4rem;
        & span:first-of-type {
            @include font($b, 1.5rem, 700);
            grid-column: 1/2;
        }

        & span:nth-of-type(2) {
            grid-column: 3/4;
            place-self: center;
            background-color: $p-o;
            border-radius: 10px;
            @include font($o, 1rem, 700);
            width: 100%;
            text-align: center;
            padding: 0.3rem 0;
        }
        & span:nth-of-type(3) {
            grid-column: 5/6;
            text-decoration: line-through;
            @include font($g-b, 1rem, 700);
            place-self: center end;
        }
    }
}
