$o: rgb(255, 125, 26);
$p-o: rgb(255, 237, 224);
$p-o-a: rgba(255, 237, 224, 0.7);
$v-d-b: hsl(220, 13%, 13%);
$d-g-b: hsl(219, 9%, 45%);
$g-b: hsl(220, 14%, 75%);
$l-g-b: hsl(223, 64%, 98%);
$w: hsl(0, 0%, 100%);
$b: hsl(0, 0%, 0%);

@mixin font($color, $size, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    font-family: 'Kumbh Sans', sans-serif;
}
